body {
    padding-top: 70px;
    background-color:#181818;
	overflow-x:hidden;
    color: #fff;
}


.thumbnail-wrapper {
   
}

.thumbnail-wrapper a {
    text-decoration: none;
}

thumbnail.wrapper a img {
    position:relative;
}

.thumbnail-wrapper a h3 {
    text-align: center;
    padding: 15px 0px;
    font-size: 15px;
    float: left;
    width: 100%;
    font-weight: 600;
	background: #8ab839;
	color:#fff;
	margin:0px;
	font-family: 'Roboto', sans-serif;
}


.trailer-thumbnail {
    margin-bottom: 0px;
    position: relative;
}

/*
.overlay {
    position: absolute;
    width: 263px;
    height: 148px;
    z-index: 20;
    margin-top: -148px;
    background:rgba(0,0,0,.75);
    text-align:center;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;}

.thumbnail-wrapper :hover .overlay {
     opacity:1;
}

.plus {  
    font-family:Helvetica;
    font-weight:900;
    color:rgba(255,255,255,.85);
    font-size:96px;
}

*/


